<!-- <div class="container">
  <<ng-container *ngFor="let route of routes">
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{route.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
    </ng-container>
</div> -->


<div class="sidebar">
  <li *ngFor="let route of routes ">
    <a mat-list-item [routerLink]="route.path">
      <mat-icon matListIcon>{{route.icon}}</mat-icon>
      <span matLine>{{route.name}}</span>
    </a>
  </li>

</div>